@import "tailwindcss";

:root {
  --background: #0D0525;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-heading: var(--font-hywenhei);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), system-ui, sans-serif;
}
